﻿@model Example_04.Models.Class
@{
    ViewData["Title"] = "Edit";
}

<head>
    <title>Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div style="width :500px;margin-left : 100px;">
    <h2>Create</h2>
    <form  for-action="Edit"method="post">
        <div class="form-group">
            <label class=" col-sm-2" asp-for="MaLop"></label>
            <div class="col-sm-10">
                <input asp-for="MaLop" class="form-control" >
            </div>
        </div><br/><br/><br/>
        <div class="form-group">
            <label class=" col-sm-2" asp-for="TenLop"></label>
            <div class="col-sm-10">          
                <input asp-for="TenLop" class="form-control">
            </div>
        </div><br/><br/>
    
        <div class="form-group">        
            <div class=" col-sm-10">
                <button type="submit" class="btn btn-success" value="" style="padding: 10px 30px;">Edit</button>
                <a class="btn btn-success" asp-action="Index" style="padding: 10px 20px;">Cancel </a>
            </div>
         
        </div>
    </form>
</div>

</body>
